.intro {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(241, 228, 230, 1);
    height: 764px;
}
.intro_img_conteiner {
    max-width: 800px;
}
.intro_text_conteiner {
    display: flex;
    justify-content: space-between;
    padding: 290px 0 381px 63px;
    font-size: 30px;
    font-weight: 900;
}
.intro_text_conteiner img {
    padding-right: 10px;
}
.intro_text_conteiner h1 {
    font-family: "Lato";
    height: 93px;
}
.intro_text_one {
    font-size: 50px;
}
.intro_text_second {
    color: rgba(241, 109, 127, 1);
}